@import "./../../defaultCss.scss";

// .taco_page {
//   height: 100%;
//   color: black !important;
//   padding: 0px;
//   overflow-y: auto;
//   overflow: scroll;
//   padding-top: 50px;
//   -webkit-overflow-scrolling: touch;
//   .edit_label {
//     color: $PantoneBlue;
//     margin: 0.5rem;
//     padding-top: 5px;
//   }
//   &_create {
//     height: 100%;
//     overflow-y: auto;
//     padding: 1rem;
//     padding-bottom: 75px;

//     .photoManger {
//       margin-top: 5px;
//       height: auto;
//       &_card {
//         height: auto;
//         position: relative;
//         padding: 5px 10px;
//         font-size: 0.8rem;
//         &--deleted {
//           opacity: 0.6;
//           filter: grayscale(100%);
//         }
//         &_name {
//           width: 80%;
//         }
//         &_delete {
//           width: 30px;
//           right: 10px;
//           height: calc(100% - 10px);
//           position: absolute;
//           margin: 0;
//           label {
//             position: relative;
//             height: 100%;
//             width: 100%;
//             svg {
//               fill: $PantoneMustard;
//               position: absolute;
//               top: 50%;
//               left: 50%;
//               transform: translate(-50%, -50%);
//             }
//           }
//         }
//       }
//     }
//   }
//   .taco_title {
//     color: $PantoneRed;
//     font-size: 30px;
//     margin-bottom: 0;
//     line-height: 1;
//     font-family: $MainFont;
//     text-shadow: -1px -1px 0 $PantoneEggShellRgb, 1px -1px 0 $PantoneEggShellRgb,
//       -1px 1px 0 $PantoneEggShellRgb, 1px 1px 0 $PantoneEggShellRgb;
//   }
//   &_img {
//     &--expand {
//       // -webkit-transition: all 0.2s ease-in;
//       // -moz-transition: all 0.2s ease-in;
//       // -ms-transition: all 0.2s ease-in;
//       // -o-transition: all 0.2s ease-in;
//       // transition: all 0.2s ease-in;
//       margin-top: -50px;
//       position: absolute;
//       z-index: 1000000000;
//       height: 100vh;
//       width: 100vw;
//       background-color: rgba(255, 255, 255, 0.728);

//       .image--expand {
//         // max-height: 300px;
//         width: 100%;
//         object-fit: cover;
//         object-position: center;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         @media screen and (orientation: landscape) {
//           height: 100%;
//         }
//       }
//     }
//     img {
//       @media screen and (orientation: landscape) {
//         width: 50vw;
//       }
//       max-height: 250px;
//       width: 100%;
//       object-fit: cover;
//       object-position: center;
//     }
//   }
// }
// .create_taco_buttons {
//   background-color: $PantoneBlue;
//   border: 1px solid $PantoneBlue;
// }

// .taco_details {
//   position: relative;
//   .edit_label {
//     float: left;
//     width: 10%;
//   }

//   .daysOfOperation_container {
//     // float: left;
//     // width: 80%;
//     .daysOfOperation {
//       // padding: 0;
//       // width: 100;
//     }
//   }
// }
.image--expand {
  position: fixed;
  z-index: 100000;
  height: 100vh;
  top: 0;
  background: rgba(255, 255, 255, 0.97);
  div {
    position: relative;
    height: 100vh;
    width: 100vw;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      object-position: center;
      @media screen and (orientation: landscape) {
        height: 95%;
        width: auto;
      }
      @media screen and (orientation: portrait) {
        width: 95%;
        height: auto;
      }
    }
  }
}
.taco_page {
  margin-top: 50px;
  height: calc(100vh - 50px);
  overflow: auto;
  color: $PantoneBlue;
  &_img {
    height: 250px;
    position: relative;
    width: 100%;
    img {
      margin: 10px;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
      position: absolute;
      border-radius: 5px;
      max-height: 240px;
      width: calc(100% - 20px);
      object-fit: cover;
      object-position: center;
    }
    @media screen and (orientation: landscape) {
      width: 45%;
      margin: 0 !important;
      float: left;
      img {
        max-height: 200px;
        width: auto;
        text-align: center;
      }
    }
  }
  .taco_details {
    background-color: inherit;
    float: left;
    @media screen and (orientation: landscape) {
      margin: 0;
      width: 50%;
    }
  }
}
