@import "./../../defaultCss.scss";

.nav {
  position: absolute !important;
  z-index: 100000;
  width: 100%;
  height: 57px;

  &_title {
    color: $biege !important;
  }
}

.page_control {
  height: 40px;
  &_goBack {
    float: left;
  }

  &_signOut {
    float: right;
  }

  .children_wrapper {
    width: 86%;
    float: left;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
    padding-bottom: 26px;
  }
}
