@import "./../../defaultCss.scss";

.leaflet-container {
  height: 100%;
  width: 100%;
}

.map_add_taco {
  height: 75vh;
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 55px;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
.hide--true {
  height: 60px !important;
}

.add_taco {
  z-index: 1000;
  position: absolute;
}

.select_taco {
  height: 100px;
  width: 100%;
  background: $pink;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  border-top: 2px solid black;
  filter: drop-shadow(0px -5px 15px rgba(0, 0, 0, 0.25));
}
.markerSelected {
  opacity: 0.2;
}
