@import "./../../defaultCss.scss";

.leaflet-container {
  height: 100%;
  width: 100%;
}

.map_add_taco {
  height: 75%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  bottom: 55px;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
.hide--true {
  height: 60px !important;
}

.add_taco {
  z-index: 1000;
  position: absolute;
}

.select_taco {
  height: 60px;
  width: 90%;
  background: $PantoneMustard;
  border: 2px solid $PantoneEggShell;
  position: absolute;
  bottom: 10px;
  z-index: 1000;
  margin: auto;
  opacity: 1;
  left: -50%;
  right: -50%;
  border-radius: 50px;
  padding: 10px 10px 10px 15px;
  filter: drop-shadow(0px -5px 15px rgba(0, 0, 0, 0.25));
  &_body {
    width: calc(100% - 40px);
    float: left;
    position: relative;
    .title {
      color: $PantoneRed;
      font-size: 27px;
      width: calc(100% - 70px);
      float: left;
      line-height: 1.2;
      font-family: $MainFont;
      margin: 0;
      padding-left: 5px;
      padding-bottom: 2px;
      text-shadow: -1px -1px 0 $PantoneEggShellRgb,
        1px -1px 0 $PantoneEggShellRgb, -1px 1px 0 $PantoneEggShellRgb,
        1px 1px 0 $PantoneEggShellRgb;
    }

    .schedule {
      float: right;
      margin: 6px;
      margin-left: 0px;
    }
  }

  .close,
  .get_directions {
    position: relative;
    margin: 0;
    margin-top: 3px;
    svg {
      height: 30px;
      width: 30px;
      fill: white;
    }
  }

  .direction_container {
    color: white;
    width: calc(100% - 40px);
    float: left;
    margin: auto;
    text-align: center;
  }
}
.markerSelected {
  opacity: 0.2;
}

.searchFalse {
  filter: grayscale(100%);
  opacity: 0.5;
}
