@import "./../defaultCss.scss";
.daysOfOperation_container {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  position: relative;
  height: 50px;
  .daysOfOperation {
    margin: auto;
    height: 50px;
    padding: 0;
    width: 330px;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      display: inline;
      list-style-type: none;
      float: left;
      border: 1px solid $PantoneMustard;
      border-radius: 20px;
      padding: 3px;
      height: 35px;
      width: 35px;
      position: relative;
      margin: 3px;
      span {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $PantoneMustard;
      }
    }
    .day_true {
      background-color: $PantoneMustard;
      span {
        color: $PantoneEggShell;
      }
    }
  }
}
