@import "./defaultCss.scss";

.container {
  margin: 0px !important;
  max-width: 100%;
  &_app {
    height: 100vh;
    width: 100%;
    color: $PantoneEggShell;

    background-image: url("./Style/Images/kitera-dent-BQnOq0ThJMk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &_page {
    height: calc(100% - 75px);
    width: 100%;
    &--color {
      background: $PantoneEggShell;
    }
  }
}
