@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap");

$PantoneRed: #d5503d;
$PantoneMustard: #db9b3c;
$PantoneEggShell: #f8f5e8;
$PantoneSky: #cae0e6;
$PantoneBlue: #1b7d90;
$BlackPearl: #041423;

$PantoneRedRgb: rgba(213, 80, 61, 1);
$PantoneMustardRgb: rgba(219, 155, 60, 1);
$PantoneEggShellRgb: rgba(248, 245, 232, 1);
$PantoneSkyRgb: rgba(202, 224, 230, 1);
$PantoneBlueRgb: rgba(27, 125, 144, 1);
// Font Variables
$MainFont: "Pacifico", cursive;
$SubFont: "Quicksand", sans-serif;

$BootstrapWhite: #f8f9fa;
