@import "./defaultCss.scss";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap");

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
}
